<% if user_signed_in? %>	
		<body class="join_game-body">
			<% current_user.update_attribute(:active, true) %>
			<% user_count = User.count(:conditions => "active > true") %>
			<% puts "craig" %>
			<% puts user_count %>
			<h1> Zoom Chess </h1>
			<div class="container board">
				<% for j in 1..8 %>
					<% if (j%2 != 0) %>
						<div class="row">
							<% for i in 1..8 %>
								<% if (i%2 == 0) %>
									<div class="col-sm-1 <%= 'row' + j.to_s %> column <%= 'column' + i.to_s %> row-odd-column-even " data-row="<%= j%>" data-column="<%= i %>">
									</div>
								<% else %>
									<div class="col-sm-1 <%= 'row' + j.to_s %> column <%= 'column' + i.to_s %> row-odd-column-odd " data-row="<%= j%>" data-column="<%= i %>">
									</div>
								<% end %>
							<% end %>
						</div>
						<div class="row">
							<% for i in 1..8  %>
								<% if (i%2 == 0) %>
									<div class="col-sm-1 column <%= 'row' + (j + 1).to_s %> <%= 'column' + i.to_s %> row-even-column-even " data-row="<%= j + 1%>" data-column="<%= i %>">
									</div>
								<% else %>
									<div class="col-sm-1 column <%= 'row' + (j + 1).to_s %> <%= 'column' + i.to_s %> row-even-column-odd " data-row="<%= j + 1%>" data-column="<%= i %>">
									</div>
								<% end %>
							<% end %>
						</div>
					<% end %>
				<% end %>
			<!-- render("partials/boardrow") %> -->
			<!-- render("partials/boardrowEven") %> -->
					
			</div>
			<a href="/">Leave Game </a>
		</body>
<% else %>
	<h4>You must be logged in to join the game</h4>
<% end %>

<script>
	$(document).on('ready', function () {

	var piece;
	var postingFlag = true;
	var movingFlag = true;
	var gameId;
	var clickedPieceSquare;
	var clickedPieceSquareContents;
	var moveToSquareAndContents;
	var contents;
	var data;

	function nextLayout () {
		piece = "reset";
		postingFlag = true;
		movingFlag = true;
		gameId = "reset";
		clickedPieceSquare = "reset";
		clickedPieceSquareContents = "reset";
		moveToSquareAndContents = "reset";
		contents = "reset";
		data = "reset";
		// console.log("did this thing");

		$.ajax({
		    type: "GET",
		    url: "/squares",
		    data: '',
		    success: onSaveSuccess,
		    error: onSaveFailure,
		    dataType: "json"
		});

	}
	nextLayout ();

	function appendPieces (response) {
		var number = 0;

		for (var i=1; i<9; i++) {
			for (var j=1; j<9; j++) {
				$('.row' + i.toString() + '.column' + j.toString()).empty();
			}
		}
		// console.log(response);
		response.spaces.forEach(function (item) {

			number = number + 1;  //the json object is sending me twice as many items as are in the database for some reason
			
			if (number <= 64) { //the json object is sending me twice as many items as are in the database for some reason
				for (var i=1; i<9; i++) {
					for (var j=1; j<9; j++) {				

						if (item.y == i && item.x == j && item.contents == "br") {
							$('.row' + i.toString() + '.column' + j.toString()).append('<div class="piece" data-title="br">&#9820</div>')
							//use images maybe instead of glyphicons if I can't get glyphicons to work
						}
						if (item.y == i && item.x == j && item.contents == "bn") {
							$('.row' + i.toString() + '.column' + j.toString()).append('<div class="piece" data-title="bn">&#9822</div>')
						}
						if (item.y == i && item.x == j && item.contents == "bb") {
							$('.row' + i.toString() + '.column' + j.toString()).append('<div class="piece" data-title="bb">&#9821</div>')
						}
						if (item.y == i && item.x == j && item.contents == "bq") {
							$('.row' + i.toString() + '.column' + j.toString()).append('<div class="piece" data-title="bq">&#9819</div>')
						}
						if (item.y == i && item.x == j && item.contents == "bk") {
							$('.row' + i.toString() + '.column' + j.toString()).append('<div class="piece" data-title="bk">&#9818</div>')
						}
						if (item.y == i && item.x == j && item.contents == "bp") {
							$('.row' + i.toString() + '.column' + j.toString()).append('<div class="piece" data-title="bp">&#9823</div>')
						}



						if (item.y == i && item.x == j && item.contents == "wr") {
							$('.row' + i.toString() + '.column' + j.toString()).append('<div class="piece" data-title="wr">&#9814</div>')
							//use images maybe instead of glyphicons if I can't get glyphicons to work
						}
						if (item.y == i && item.x == j && item.contents == "wn") {
							$('.row' + i.toString() + '.column' + j.toString()).append('<div class="piece" data-title="wn">&#9816</div>')
						}
						if (item.y == i && item.x == j && item.contents == "wb") {
							$('.row' + i.toString() + '.column' + j.toString()).append('<div class="piece" data-title="wb">&#9815</div>')
						}
						if (item.y == i && item.x == j && item.contents == "wq") {
							$('.row' + i.toString() + '.column' + j.toString()).append('<div class="piece" data-title="wq">&#9813</div>')
						}
						if (item.y == i && item.x == j && item.contents == "wk") {
							$('.row' + i.toString() + '.column' + j.toString()).append('<div class="piece" data-title="wk">&#9812</div>')
						}
						if (item.y == i && item.x == j && item.contents == "wp") {
							$('.row' + i.toString() + '.column' + j.toString()).append('<div class="piece" data-title="wp">&#9817</div>')
						}
						$('.row' + i.toString() + '.column' + j.toString()).on('click', function () {
							if (postingFlag == true) {
								// console.log(postingFlag);
								postingFlag = false;
								// console.log($(this));
								if ( $(this).children().length > 0 ) {
									console.log(this);
									// console.log(i);
									// console.log($(this).attr('data-column'));
									// console.log($(this).attr('data-row'));
									clickedPieceSquare = {x: $(this).attr('data-column'), 
										y: $(this).attr('data-row')
									}
									contents = $(this).find('[data-title]').data('title');
									// console.log(contents);
									movingFlag = true;
									moveToSquare (response); 	
								}
							}
						})
					}
				}
			}
		})
	}

	function moveToSquarePartTwo (response) {
	
		if (movingFlag == true) {
			gameId = response.gmId;
			var updateGamesData = {
				id: gameId,
				finishedStatus: false
			}
			var updateTurnsData = {

			}
			data = {
				clickedPieceSquare: clickedPieceSquare,
		    	updateGamesData: updateGamesData,
		    	moveToSquareAndContents: moveToSquareAndContents
		    }
		    // console.log(moveToSquareAndContents)
		    // console.log(clickedPieceSquare);
			$.ajax({
			    type: "PATCH",
			    url: "/move",
			    data: data,  //this is where I need to post the updated contents in games.id#.squares table.
		    					// Also need to have a users table and update how many moves they made for that side in a 
		    					// 	particular game.  Maybe with: Users has_many games through: newTable, Games has_many users through: newTable
			    success: onSaveSuccessPatch,
			    error: onSaveFailurePatch,
			});
		}
	}

	function moveToSquare (response) {
		for (var i=1; i<9; i++) { // this is every div on my board right now.  I could change this to just the container div
								  // I tried that actually and didnt work right anymore.  idk why
			for (var j=1; j<9; j++) {					
				$('.row' + i.toString() + '.column' + j.toString()).on('click', function(){
					// console.log(contents);
					moveToSquareAndContents = {
						x: $(this).attr('data-column'),
						y: $(this).attr('data-row'),
						contents: contents
					}
					moveToSquarePartTwo(response)
				});
			}
		}
	}

	// function onSaveFailurePatchLayout () {

	// }

	// function onSaveSuccessPatchLayout () {

	// }

	function onSaveFailurePatch (err) {
		console.log("error Posting move to database");
	}

	function onSaveSuccessPatch (response) {
		console.log("ran a patch");
		// console.log(response);
		nextLayout ();
		// appendPieces(response);
	}

	function onSaveFailure (err) {
		console.log(err);
		console.log("error getting chess pieces layout");
	}
	function onSaveSuccess (response) {
		console.log("ran a get");
		// console.log(response);
		appendPieces (response);	
	}
})
</script>




