<!DOCTYPE html>
<html>
<head>
  <title>Finalproject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body data-hook="controller-<%= controller_name %> action-<%= action_name %>">
	<% if user_signed_in? %>
		<div class="container" >
			<div class="row first_row">
				<div class="the-logout col-sm-2">
				<% if action_name == "join_game" %>
					<% button_class = "logout-button" %>
				<% else %>
					<% button_class = "" %>
				<% end %>

					<%= link_to 'Logout', destroy_user_session_path, method: 'DELETE', class: "#{button_class} btn btn-primary " %>
				</div>
			</div>
			<div class="row">
				<% if controller_name == "games" && action_name == "index" %>
					<div class="email col-sm-6">
						User: <%= current_user.email %>	
					</div>	
				<% else %>
					<div class="email-join-game col-sm-6">
						User: <%= current_user.email %>	
					</div>	
				<% end %>
			</div>
		</div>

	<% else %>
		<%= link_to 'Sign Up', new_user_registration_path, method: 'GET' %> 
		<%= link_to 'Sign in', new_user_session_path, method: 'GET' %>
	<% end %>

<%= yield %>

</body>
</html>
