<!DOCTYPE html>
<html>
<head>
  <title>Finalproject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body data-hook="controller-<%= controller_name %> action-<%= action_name %>">
	<% if user_signed_in? %>
		<div class="container" >
			<div class="row first_row">
				<div class="col-sm-2">
					<%= link_to 'Logout', destroy_user_session_path, method: 'DELETE' %>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					User: <%= current_user.email %>	
				</div>	
			</div>
		</div>

	<% else %>
		<%= link_to 'Sign Up', new_user_registration_path, method: 'GET' %> 
		<%= link_to 'Sign in', new_user_session_path, method: 'GET' %>
	<% end %>

<%= yield %>

</body>
</html>
